<!DOCTYPE html>
<!--

:::       ::: :::::::::      :::     ::::::::::: :::        ::::::::
:+:       :+: :+:    :+:   :+: :+:       :+:     :+:       :+:    :+:
+:+       +:+ +:+    +:+  +:+   +:+      +:+     +:+       +:+
+#+  +:+  +#+ +#++:++#:  +#++:++#++:     +#+     +#+       +#++:++#++
+#+ +#+#+ +#+ +#+    +#+ +#+     +#+     +#+     +#+              +#+
 #+#+# #+#+#  #+#    #+# #+#     #+#     #+#     #+#       #+#    #+#
  ###   ###   ###    ### ###     ### ########### ########## ########

!-->
<html>

  <%= render 'layouts/foundation/semantic_elements/header' %>

  <body>

    <%= yield %>


    <%= render 'layouts/foundation/js_features/application' %>

  </body>

</html>
